{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
</head>

<body class="bg-cyan-800 min-h-screen flex flex-col">

    <!-- TENANT NAVBAR -->
    <nav class="bg-cyan-900">
        <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
            <a href="{% url 'base/home' %}">
                <h1 class="text-4xl font-extrabold text-[#5a82b5] tracking-wide">
                    PayEase
                </h1>
            </a>
            <div class="flex items-center space-x-6">
                {% block navbar %}
                <a href="{% url 'ownerHome' %}" class="text-white hover:text-cyan-300">Owner</a>
                <a href="{% url 'tenantHome' %}" class="text-white hover:text-cyan-300">Tenant</a>
                {% endblock %}
            </div>
        </div>
    </nav>

    <main class="flex-grow">
        <div class="max-w-4xl mx-auto bg-white rounded-lg p-8 mt-10 mb-10">
            {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>
