{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
</head>

<body class="bg-cyan-800 min-h-screen flex flex-col">

    <!-- TENANT NAVBAR -->
    <nav class="bg-cyan-900">
        <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
            <h1 class="text-white text-2xl font-semibold tracking-wide">
                PayEase
            </h1>
            <div class="flex items-center space-x-6">
                {% block navbar %}{% endblock %}
            </div>
        </div>
    </nav>

    <main class="flex-grow">
        <div class="max-w-4xl mx-auto bg-white rounded-lg p-8 mt-10 mb-10">
            {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>
