{% extends "base/owner_layout.html" %}

{% block title %}Login Tenant{% endblock %}

{% block content %}


{% if form.phone.errors %}
<div class="mb-4 p-4 rounded-lg bg-red-100 border border-red-300 text-red-800 font-medium">
    {{ form.phone.errors.0 }}
</div>
{% endif %}

<form method="POST" class="space-y-6">
    {% csrf_token %}

    <div>
        <label class="font-semibold">Name</label>
        {{ form.name }}
    </div>
    
    <div>
        <label class="font-semibold">Phone</label>
        {{ form.phone }}
    </div>

    <button type="submit"
        class="w-full bg-cyan-700 text-white py-3 rounded-lg hover:bg-cyan-800 transition font-semibold">
        Login
    </button>
</form>

{% endblock %}
